.counter {
    display: inline-flex;
    padding: .5rem;
    .counter-group {
        padding: .3rem;
        text-transform: capitalize;
        font-weight: bold;
        .counter-value {
            letter-spacing: 0.4rem;
            display: block;
            font-size: 1.5rem;
        }
        .counter-name {
            font-size: 1.2rem;
        }
    }
    .dots {
        display: block;
        font-size: 2rem;
        font-weight: 900;
    }
}
