// h2 {
//     margin: 0.5rem 0;
//   }

.filter-option {
    margin-left: 3rem;
    input {
        font-size: 2rem;
        margin-right: 1rem;
    }
    label {
        font-size: 1.5rem;
        line-height: 1.9;
    }
  }

//   .filter-option label,
//   .filter-option input {
//     vertical-align: middle;
//   }

//   .filter-option label {
//     margin-left: 0.25rem;
//   }

//   .filter-option.active label {
//     font-weight: bold;
//   }
