.event-item {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    // border-radius: 2rem;
    list-style: none;
    li {
        list-style: none;
    }
    .card {
        // margin: 1rem 0;
        // border: 1px solid #424242;
        // border-radius: 12px;

        // padding: 1rem;
        img {

        }
        .card-body {
            // margin-left: 3rem;
            padding: .8rem;
            h2 {
                // margin-bottom: 1.5rem;
                font-size: 1.8rem;
                font-weight: 600;
                letter-spacing: .1rem;
                // line-height: 1.7;
                color: $blue;
            }
            h3 {
                // margin-bottom: 4rem;
                text-transform: capitalize;
                // font-size: 2rem;
                font-weight: 600;
                letter-spacing: .1rem;
                line-height: 1.7rem;
                i {
                    color: $red;
                }
            }
            .card-text {

            }

        }
    }


  }
